---
title: Custom metadata
weight: 135
---

# Custom metadata

You can add custom metadata to a new payment. For example, you can add a reference number from your finance or accounting system, so you can reconcile the payment against bank transaction information.

You can add metadata when you make an API call to create a new payment. You cannot add metadata to Direct Debit transactions or payment links.

End users cannot see metadata while they're making a payment.

## Add metadata to a payment

Include a `metadata` object in the body of your [/making_payments/#making-payments](Create new payment) request. For example:

```
"metadata": {
   "ledger_code": "AB100",
   "an_internal_reference_number": 200,
...
}
```

The `metadata` object must contain between 1 and 10 parameters.

Each parameter key must be between 1 and 30 characters long.

Each parameter value must be both:

- no longer than 50 characters
- a string, number or boolean data type

Your metadata will be included in the API response.

You cannot add or change the metadata after you've created the payment request.

Refer to the <a
href="https://govukpay-api-browser.cloudapps.digital/#newpayment"
target="blank">API browser</a> or the <a href="https://github.com/alphagov/pay-publicapi/blob/master/swagger/swagger.json" target="blank">Swagger file</a> for more information.

## See a payment's metadata

When you [make an API call to get information about a payment](/reporting/#reporting-via-the-gov-uk-pay-api), the `metadata` object will be included in the API response.

The order of the parameters in the `metadata` object may be different to your original object.

You can also sign in to the [GOV.UK Pay admin
tool](https://selfservice.payments.service.gov.uk/login) to see or download a payment's metadata.
