---
title: Prefill payment fields
last_reviewed_on: 2021-02-18
review_in: 6 months
weight: 104
---

# Prefill payment fields

If you collect your users' details in your service before you redirect them to GOV.UK Pay, you can prefill some of the fields on the __Enter card details__ page. If you prefill fields, your users should not need to enter their details twice.

Your users can still edit these details before they complete their payment.

To prefill fields, include the following optional parameters in the API request when you [create a new payment](/payment_flow/#making-a-payment):

- `email`
- `prefilled_cardholder_details` - with optional `cardholder_name` and `billing_address` parameters

For example:

```javascript
"email": "sherlock.holmes@example.com",
"prefilled_cardholder_details": {
  "cardholder_name": "Sherlock Holmes",
  "billing_address": {
      "line1": "221 Baker Street",
      "line2": "Flat b",
      "postcode": "NW1 6XE",
      "city": "London",
      "country": "GB"
  }
}
```

All the parameters in `billing_address` are optional, and these parameters' values must be no longer than:

- 254 characters for `email`
- 255 characters for `cardholder_name`
- 255 characters each for `line1`, `line2` and `city` in `billing_address`
- 25 characters for `postcode` in `billing_address`

If you include the `country` parameter, it must be an <a href="https://www.iso.org/obp/ui/#search/code/" target="_blank">ISO 3166-1 alpha-2 code</a>. If the parameter is invalid or missing, the __Country or territory__ field on the payment page will default to 'United Kingdom'.

## Data collected by GOV.UK Pay

If you prefill payment fields, the data collected by GOV.UK Pay depends on your service settings
in the [GOV.UK Pay admin tool](https://selfservice.payments.service.gov.uk/my-services)

By default, if your user completes their payment or your user completes the **Enter card details** page
but does not complete their payment, GOV.UK Pay collects your user's:

- billing address
- email address
- cardholder name

GOV.UK Pay does not collect the billing address or use it to carry out fraud checks if you have set
**Collect billing address** to **Off** in the GOV.UK Pay admin tool.

GOV.UK Pay always collects the email address,
even if you have set **Enter an email address** to **Off** in the GOV.UK Pay admin tool.

GOV.UK Pay always collects the cardholder name.
