---
title: Prefill payment fields
last_reviewed_on: 2022-05-06
review_in: 6 months
weight: 5240
---

# Prefill payment fields

If you collect your users' details in your service before you redirect them to GOV.UK Pay, you can prefill some of the fields on the __Enter card details__ page. If you prefill fields, your users should not need to enter their details twice.

Your users can still edit these details before they complete their payment.

To prefill fields, include the following optional parameters in the API request when you [create a new payment](/making_payments/#creating-a-payment):

- `email`
- `prefilled_cardholder_details` - with optional `cardholder_name` and `billing_address` parameters

For example:

```javascript
"email": "sherlock.holmes@example.com",
"prefilled_cardholder_details": {
  "cardholder_name": "Sherlock Holmes",
  "billing_address": {
      "line1": "221 Baker Street",
      "line2": "Flat b",
      "postcode": "NW1 6XE",
      "city": "London",
      "country": "GB"
  }
}
```

All the parameters in `billing_address` are optional, and these parameters' values must be no longer than:

- 254 characters for `email`
- 255 characters for `cardholder_name`
- 255 characters each for `line1`, `line2` and `city` in `billing_address`
- 25 characters for `postcode` in `billing_address`

If you include the `country` parameter, it must be an <a href="https://www.iso.org/obp/ui/#search/code/" target="_blank">ISO 3166-1 alpha-2 code</a>. If the parameter is invalid or missing, the __Country or territory__ field on the payment page will default to 'United Kingdom'.

## Data collected by your GOV.UK Pay admin account

After your user completes their payment, your GOV.UK Pay account will collect your user's:

- email address - even if you've disabled collecting your users' email addresses
- cardholder name
- billing address - you can only see this by [using the API to get information about a payment](/reporting/#get-information-about-a-single-payment)

If your user does not complete their payment, your GOV.UK Pay account will still collect the `billing_address` value. This will happen even if you've chosen not to collect your users' billing addresses.
