---
title: Support
last_reviewed_on: 2021-01-11
review_in: 3 months
weight: 220
---

# Support

You can get notifications about GOV.UK Pay’s status to your email, phone, RSS reader or website, by subscribing on our [status page](https://payments.statuspage.io/#).

## Incident severity

GOV.UK Pay incident severities are defined as follows:

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Classification | AKA | Example | Initial response time | Update Time |
| :--- | :--- | :--- | :--- | :--- |
| P1 | Critical Incident | complete outage; substantial degradation of service; significant security issue; significant availability issue  | 30 minutes (at any time) | 1hr |
| P2 | Major Incident | elevated error rate; mostly up; noticeably degraded service; upstream vulnerabilities; complete component failure | 60 minutes (in waking hours) | 2hrs |
| P3 | Significant | Users experiencing intermittent or degraded service due to platform issue | 1 business day or next working day | 2 business days |
| P4 | Minor | Component failure that is not immediately service impacting | 2 business days | weekly |

<div style="height:1px;font-size:1px;">&nbsp;</div>

## Hours of service

In-hours support is from Monday-Friday 9:30am-5:30pm and covers all ticket priorities (P1-4).

Out-of-hours support covers P1 support tickets only, during:

* Monday-Friday 5:30pm-9:30am
* Saturday-Sunday and bank holidays 24x7

## Contact us

If you raise a support request, the GOV.UK Pay team will contact you using the
Zendesk ticketing system.

### P1 support queries (critical incidents)

For P1 support requests, you will receive instructions from us when you
sign on as a partner.

### P2-P4 support queries (non-critical incidents)

For all non-P1 support requests, contact us via email at
[govuk-pay-support@digital.cabinet-office.gov.uk](mailto:govuk-pay-support@digital.cabinet-office.gov.uk).

### General feedback

If you have any feedback or questions, please email [govuk-pay-support@digital.cabinet-office.gov.uk](mailto:govuk-pay-support@digital.cabinet-office.gov.uk).
