---
title: Quick start guide
weight: 40
---

# Quick start guide

<style>
.govuk-warning-text{font-family:nta,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;color:#0b0c0c;position:relative;margin-bottom:20px;padding:10px 0}@media print{.govuk-warning-text{font-family:sans-serif}}@media (min-width:40.0625em){.govuk-warning-text{font-size:19px;font-size:1.1875rem;line-height:1.31579}}@media print{.govuk-warning-text{font-size:14pt;line-height:1.15;color:#000}}@media (min-width:40.0625em){.govuk-warning-text{margin-bottom:30px}}.govuk-warning-text__assistive{position:absolute!important;width:1px!important;height:1px!important;margin:-1px!important;padding:0!important;overflow:hidden!important;clip:rect(0 0 0 0)!important;-webkit-clip-path:inset(50%)!important;clip-path:inset(50%)!important;border:0!important;white-space:nowrap!important}.govuk-warning-text__icon{font-family:nta,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:700;display:inline-block;position:absolute;top:50%;left:0;min-width:32px;min-height:29px;margin-top:-20px;padding-top:3px;border:3px solid #0b0c0c;border-radius:50%;color:#fff;background:#0b0c0c;font-size:1.6em;line-height:29px;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@media print{.govuk-warning-text__icon{font-family:sans-serif}}.govuk-warning-text__text{display:block;margin-left:-15px;padding-left:65px}
</style>

<br>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must store your API keys securely. You must not share this key in publicly accessible documents or repositories. You must not share it with anyone who should not be using the GOV.UK Pay API directly.
  </strong>
</div>

Read this section to learn about what to do to get started with GOV.UK Pay.

## Before you start

Before you start using GOV.UK Pay, you should:

* read the [__Get started__
guide](https://www.payments.service.gov.uk/getstarted/) to decide if GOV.UK
Pay is right for your service

* sign up to the [GOV.UK Pay admin tool](https://selfservice.payments.service.gov.uk/create-service/register)

* read the GOV.UK Service Manual guidance on [deploying new
software](https://www.gov.uk/service-manual/making-software/deployment.html)

* visit our <a href="https://govukpay-api-browser.cloudapps.digital/" target="blank">API browser</a> [external link]

If you want to build a technical integration between your service and the
GOV.UK Pay API, your service team should have the necessary skills. You can
refer to the [GOV.UK Service
Manual](https://www.gov.uk/service-manual/the-team/what-each-role-does-in-service-team#roles-your-team-must-have)
for more information. This does not apply if you only use [payment
links](/payment_links/#payment-links).

## The GOV.UK Pay API

The GOV.UK Pay API is based on REST principles with endpoints returning data
in JSON format, and standard HTTP error response codes. The platform API
allows you to:

* begin and complete payments

* view the event history for individual payments

* view transactions and refunds within a specified time period

* issue full or partial refunds

When you've received a test account, follow these instructions to get started
with our API and make a test API call.

## Test the API 

### Generate a test API key

1. Sign in to the [GOV.UK Pay admin
   tool](https://selfservice.payments.service.gov.uk/) with the test
   account login details you received.

2. From the landing page, select __API key__, then __Generate a new key__.

![](/images/pay_9.png)
 <br /><br />Enter a description for your API key: <br /><br />

![](/images/DescribeAPIKey+image2.png)
<br /><br />Your API key will be shown for you to copy:<br /><br /> ![](/images/NewKeygenerate+image+3.png)

[Read the __Security__ section](/security/#security) for more information on how
to keep your API key safe.

<br>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Do not use an API key from a live account on the GOV.UK Pay admin tool. Only use a test API key.
  </strong>
</div>

### Make a test API call

You can make test API calls to GOV.UK Pay with your test API key. 

You can use API testing tools such as <a href="https://www.getpostman.com/" target="blank">Postman</a> [external link] or <a href="https://www.soapui.org/" target="blank">SoapUI</a> [external link] to make test API calls.

This section shows an example API call and request body, to make a new payment
for a passport application:

```POST /v1/payments```

```javascript
{
"amount": 12000,
"reference": "12345",
"description": "New passport application",
"return_url": "https://service-name.gov.uk/transactions/12345"
}
```


Services that use test accounts can optionally use HTTP, rather than HTTPS,
for return URLs. You can read more about this in [the __Security__
section](/security/#https).

If the test call is successful, you will receive a `201 Created` response with
a JSON body.

The JSON includes a ``next_url`` link. This URL is where your service should
redirect the user for them to make their payment. 

You can refer to the [“Making payments” section](/making_payments) for more
detailed information.

### Simulate an end-user payment journey

Go to the ``next_url`` with a browser, and you’ll see the payment screen.
Choose a mock card number from the [__Testing GOV.UK
Pay__](/testing_govuk_pay/#mock-card-numbers-for-testing-purposes) section and
enter it to simulate a payment in the test environment. For the other required
details, enter some test information which should have:

  * an expiry date that is in the future and in the format MM/YYYY

  * a valid postcode

Submit the payment.

### View transactions at GOV.UK Pay admin tool

Go to the [GOV.UK Pay admin
tool](https://selfservice.payments.service.gov.uk/). From the landing page,
select __Transactions__:

![](/images/transaction+list+image+4.png)

Enter search criteria to find transactions using the available filters.
