---
title: Versioning 
weight: 130
---

# Versioning

The current version of the GOV.UK Pay API is 1.0.2.

When we add new properties to the JSON responses, the GOV.UK Pay API version number will not change. You should develop your service to ignore properties it does not understand.

New, dated versions of the public API will be released if JSON values are removed in a backwards incompatible manner. All these versions of the GOV.UK Pay API will be documented in our Revision History table below.

Our version number will be updated in the URL when there is a release. All releases will be marked with full version numbers.


## Updating to the latest GOV.UK Pay API

We’ll send you an email to let you know about any new versions of our API.

If you want to update to our latest API, make sure you test your code before committing to the change.

>We’ll support each version of the early beta GOV.UK Pay API for at least 1 month after we issue an upgrade notice. As the API matures, we may increase this support period to 3 or 6 months.

Soon, we hope to let you check which version of our API you’re currently running by checking your dashboard.

## Revision history

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Version|Date|Author|Comments|
| --------  | -------| ----| -----|
|1.0 | | |
|1.0.1 | | |
|1.0.2 | | |

<div style="height:1px;font-size:1px;">&nbsp;</div>

