---
title: Testing GOV.UK Pay
weight: 90
---

# Testing GOV.UK Pay

When your GOV.UK Pay account is made live, you will still have a ‘test’
account for general testing and experimenting with different settings and
features. You can read more in the [__Switching to
live__](/switching_to_live/#switching-to-live) section.

When you test, you should make sure that you use [mock card
numbers](/#mock-card-numbers-for-testing-purposes) to simulate both successful
and unsuccessful transactions. You must use test cards with your test account.
Real card numbers will not work.

You should also:

 - only use your test account, not your live account
 - make sure that test calls to the GOV.UK Pay API succeed with [200 codes](/api_reference/#http-status-codes)
 - [test the whole user journey](/#test-your-service-with-your-users) from your service to the payment service provider

#### HTTP with test accounts

Services using test accounts can optionally use HTTP (rather than HTTPS)
for return URLs. You can read more in [the __Security__
section](/security/#https).

### Make a demo payment

You can [try the payment experience as a
user](https://selfservice.payments.service.gov.uk/make-a-demo-payment), and
then view the completed payment as a GOV.UK Pay administrator.

### Test your service with your users

You can [create a reusable
link](https://selfservice.payments.service.gov.uk/test-with-your-users) to
integrate your service prototype with GOV.UK Pay, and test with your users.

## Integration testing

To check your integration with GOV.UK Pay is working as expected, you should
run a series of tests. You can read more about [software
testing](https://www.gov.uk/service-manual/technology#testing-your-service)
and [smoke
testing](https://www.gov.uk/service-manual/making-software/deployment.html) in
the GOV.UK Service Manual.

Ideally you should build tests to include both the GOV.UK Pay API and its
frontend user journey. The GOV.UK Pay interface is continuously iterated, so
you should not rely on any specific page layout. You can still build tests
that address form elements such as buttons, using their IDs. Alternatively,
you can build stubs that will emulate GOV.UK Pay functionality.

You can read the section on [__How to integrate with the GOV.UK Pay
API__](/integrate_with_govuk_pay/#how-to-integrate-with-the-gov-uk-pay-api).
You can also read [the __Versioning__ section](/versioning/#versioning) to
find out about the evolution of the GOV.UK Pay API.

If you experience any problems when testing, please email us at
[govuk-pay-support@digital.cabinet-office.gov.uk](mailto:govuk-pay-support@digital.cabinet-office.gov.uk).

## Performance testing

If you’d like to carry out any kind of performance testing, including in a
rate-limiting environment, please contact us at
[govuk-pay-support@digital.cabinet-office.gov.uk](mailto:govuk-pay-support@digital.cabinet-office.gov.uk).

## Mock card numbers for testing

When you test your integration, you must not use real card numbers.

You should use mock card numbers. For example:

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Testing action |Card numbers to use | Card type | Debit/Credit |
| --------  | ------- | ------- | ------- |
|Simulate a successful transaction | 4444333322221111 | Visa | Credit |
||4242424242424242| Visa | Credit |
||4000056655665556| Visa | Debit |
||5105105105105100| Mastercard | Debit |
||5200828282828210| Mastercard | Debit |
||371449635398431| American Express | Credit |
||3566002020360505| JCB | Credit |
||6011000990139424|Discover| Credit |
||36148900647913|Diners Club| Credit |
|Simulate card type not accepted |6759649826438453|Maestro| Debit |
|Simulate a declined card|4000000000000002|Visa| N/A |
|Simulate an invalid CVC security code|4000000000000127|Visa| N/A |
|Simulate an expired card|4000000000000069|Visa| N/A |
|Simulate a general processing error|4000000000000119|Visa| N/A |

<div style="height:1px;font-size:1px;">&nbsp;</div>

When you use mock card numbers, you can enter any valid value for the
other details. For example, expiry dates must be in the future.

### Worldpay test card numbers

Refer to the [Worldpay documentation](http://support.worldpay.com/support/kb/gg/corporate-gateway-guide/content/reference/testvalues.htm#Test) [external link].

### Barclays ePDQ test card numbers
Refer to the [ePDQ __Get Started__ guide](https://support.epdq.co.uk/en/products/onboarding) [external link] and select __What credit cards can I use for testing?__

### Barclays SmartPay test card numbers
Refer to the [SmartPay TestCards page](https://docs.adyen.com/developers/test-cards/test-card-numbers) [external link].
