---
title: Testing your integration
weight: 90
---

# Testing your integration

## Testing your service

You can use your test account to:

- explore how the GOV.UK Pay API works
- run automated [smoke tests](https://www.gov.uk/service-manual/technology/deploying-software-regularly#using-smoke-tests-after-you-deploy)

Do not use your test account for automated integration tests that run every time you change your code. Build a ‘stub’ to simulate the GOV.UK Pay API instead, using a tool like [WireMock](http://wiremock.org/) or [mountebank](http://www.mbtest.org/).

## Testing the whole user journey

You should test the whole user journey from your service to your payment service provider (PSP).

To help you test, you can:

- [create a link to GOV.UK Pay payment pages](https://selfservice.payments.service.gov.uk/test-with-your-users) and add it to your service's prototype page
- use [mock card numbers](#mock-card-numbers) to test both successful and unsuccessful payments
- use HTTP instead of HTTPs for the `return_url` with your test account, so you do not need to set up a secure url for testing

## Performance testing

You must [contact us](/support_contact_and_more_information) to get written approval before you do any performance testing.

## Mock card numbers

Use mock card numbers with your test account when you try payments as a user.

You can enter any valid value for other payment fields. For example, the card expiry date can be any date in the future.

Mock card numbers do not work with your live account.

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Testing action |Card number | Card brand | Card type |
| -------- | ------- | ------- | ------- |
|Successful payment | 4444333322221111 | Visa | Credit |
||4242424242424242| Visa | Credit |
||4000056655665556| Visa | Debit |
||4988080000000000| Visa | Debit - corporate |
||4000160000000004| Visa | Debit - prepaid |
||4131840000000003| Visa | Debit - corporate prepaid |
||4000620000000007| Visa | Credit - corporate |
||5101110000000004| Mastercard | Credit |
||5105105105105100| Mastercard | Debit |
||5200828282828210| Mastercard | Debit |
||371449635398431| American Express | Credit |
||3566002020360505| JCB | Credit |
||6011000990139424| Discover | Credit |
||36148900647913| Diners Club | Credit |
|Card type not accepted |6759649826438453|Maestro| Debit |
|Card declined|4000000000000002|Visa| null |
|Card expired|4000000000000069|Visa| null |
|Invalid CVC code|4000000000000127|Visa| null |
|General error|4000000000000119|Visa| null |

<div style="height:1px;font-size:1px;">&nbsp;</div>
