---
title: Delayed capture of payments
weight: 133
---

# Delayed capture of payments

You can control how long it takes GOV.UK Pay to take ('capture') a payment from your user's bank account after your Payment Service Provider (PSP) has authorised that payment.

You may want to use delayed capture if you need time to do your own anti-fraud checks on payments, or check that users are eligible for your service.

During the delay, your user's available bank balance is reduced by the payment amount.

To use this feature, include `"delayed_capture": true` in the body of a <a
href="https://govukpay-api-browser.cloudapps.digital/#newpayment"
target="blank">Create new payment</a> request.

The user experience matches the current payment flow. Once your user selects
__Confirm__ on the __Confirm your details__ page:

- the [payment status](/api_reference/#payment-status-lifecycle) will change to `capturable`
- your service can call the
`POST /v1/payments/{paymentId}/capture` endpoint to send a delayed capture
request

Refer to the <a
href="https://govukpay-api-browser.cloudapps.digital/#capturepayment"
target="blank">API browser</a> or the <a href="https://github.com/alphagov/pay-publicapi/blob/master/swagger/swagger.json" target="blank">Swagger file</a> for more information.

There are 4 possible responses:

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Response code | Meaning |
|:---|:---|
|204| Your capture request succeeded. |
|404| No payment matched the `paymentId` you provided. |
|409| You cannot capture the payment because its `status` is not `capturable`. |
|500| Something is wrong with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us). |

<div style="height:1px;font-size:1px;">&nbsp;</div>

Your service must send the delayed capture request within 120 hours (5 days) of creating the payment, regardless of how long your user takes to complete the payment flow. If you do not, [the payment will expire](/payment_flow/#payment-expires).

If your service has enabled payment receipt emails, GOV.UK Pay will send a
payment receipt email to your user once your service’s capture request is
received and accepted.

## See the capture URL for a payment

If a payment is available for capture, you can see its capture URL in
responses to API calls. For example:

* `GET /v1/payments/{paymentID}`

* `GET /v1/payments`

The `"__links"` object will contain:`

```
"capture": {
"href": "https://publicapi.payments.service.gov.uk/v1/payments/<PAYMENT-ID>/capture",
    "method": "POST"
    }
```

If the payment is not available for capture, the `"__links"` object will
contain:

```
"capture": null
```
