---
title: Making payments
weight: 70
---

# Making payments

When your user makes a payment, your service should supply a `reference`. If
possible, this should be a unique identifier for the payment. If your
organisation already has an existing identifier for payments, you can use it
as this `reference`.

Your service will also need to supply a
[`return_url`](#choose-the-return-url-and-match-your-users-to-payments). This
is a URL that your service hosts for your user to return to, after their
payment journey on GOV.UK Pay ends.

## Creating a payment

The call to create a payment with the GOV.UK Pay API is:

`POST  /v1/payments`

For example:

```javascript
{
  "amount": 14500,
  "reference" : "12345",
  "description": "Pay your council tax",
  "return_url": "https://your.service.gov.uk/completed"
}
```

### amount

`amount` is the amount in pence. In the example, the payment is for £145.

The amount must be a number data type rather than a string.

The minimum amount is one pence. The maximum amount is 10,000,000 pence (£100,000). [Contact us](/support_contact_and_more_information/#contact-us) if you need to take payments above the maximum amount.


### reference

`reference` is the reference number you wish to associate with this payment.

The reference number does not need to be unique, and must not:

- be longer than 255 characters
- contain URLs

The format is variable. If you have an existing format, you can keep using it if your values are no longer than 255 characters.


### description

`description` is a human-readable description of the payment. This is shown to your user on the payment pages and to your staff on the GOV.UK Pay admin tool.

The description must be no longer than 255 characters, and must not contain URLs.


### return_url

This is a URL that your service hosts for your user to return to, after their payment journey on GOV.UK Pay ends.

The URL must be no longer than 2,000 characters, and must not be JSON-encoded because backslashes are invalid characters in the API.

If you're making a test payment using a test account, you can [use HTTP for return URLs instead of HTTPS](/security/#https).


Refer to the <a
href="https://govukpay-api-browser.cloudapps.digital/#newpayment"
target="blank">GOV.UK Pay API browser</a> or the <a href="https://github.com/alphagov/pay-publicapi/blob/master/swagger/swagger.json" target="blank">Swagger file</a> for more
information.

## Receiving the API response

The response to the ‘Create new payment’ API call will include the URL for the
payment. You can get this from either:

* the `Location` response header
* the `self` section of `_links` in the JSON body

The URL contains the GOV.UK Pay `paymentId`, which is automatically
generated and identifies the payment. A GET request to this URL
will return information about the payment and its status.

Your service will need to store the `paymentId` (or the full URL) for each new
payment you create. This is so you can check the status of these payments
later.

Read more about [reporting](/reporting/#reporting) and [payment flow](/payment_flow/#payment-flow).

An example URL:
`https://publicapi.payments.service.gov.uk/v1/payments/{paymentId}`

The response will also include the ``next_url`` to which you should direct your
user to complete their payment.

<style>
.govuk-warning-text{font-family:nta,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.25;color:#0b0c0c;position:relative;margin-bottom:20px;padding:10px 0}@media print{.govuk-warning-text{font-family:sans-serif}}@media (min-width:40.0625em){.govuk-warning-text{font-size:19px;font-size:1.1875rem;line-height:1.31579}}@media print{.govuk-warning-text{font-size:14pt;line-height:1.15;color:#000}}@media (min-width:40.0625em){.govuk-warning-text{margin-bottom:30px}}.govuk-warning-text__assistive{position:absolute!important;width:1px!important;height:1px!important;margin:-1px!important;padding:0!important;overflow:hidden!important;clip:rect(0 0 0 0)!important;-webkit-clip-path:inset(50%)!important;clip-path:inset(50%)!important;border:0!important;white-space:nowrap!important}.govuk-warning-text__icon{font-family:nta,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:700;display:inline-block;position:absolute;top:50%;left:0;min-width:32px;min-height:29px;margin-top:-20px;padding-top:3px;border:3px solid #0b0c0c;border-radius:50%;color:#fff;background:#0b0c0c;font-size:1.6em;line-height:29px;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@media print{.govuk-warning-text__icon{font-family:sans-serif}}.govuk-warning-text__text{display:block;margin-left:-15px;padding-left:65px}
</style>

<br>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
Don’t expose the `next_url` to anyone other than your paying user. Anyone in
possession of the `next_url` could hijack your user’s payment.
  </strong>
</div>

## Track the progress of a payment

You can track the progress of a payment using the <a
href="https://govukpay-api-browser.cloudapps.digital/#getpayment"
target="blank">Find payment by ID</a> call.

The status of the payment will pass through several states until it either
succeeds or fails. Read more about the [payment status lifecycle](https://docs.payments.service.gov.uk/api_reference/#payment-status-lifecycle).

## Choose the return URL and match your users to payments

For security reasons, GOV.UK Pay does not add the `paymentId` or outcome to
your `return_url` as parameters.

You can match your users with payments with an encrypted cookie, or by creating a
secure random ID:

### Use an encrypted cookie

You can use an encrypted cookie containing the payment ID from GOV.UK Pay. Your
service should issue this when a payment is created, before sending your user
to `next_url`. Your users will not be able to decrypt an encrypted cookie, so a
malicious user could not alter the payment ID and intercept other users’
payments.

### Create a secure random ID

You can create a secure random ID, such as a UUID, and include this as part of
the `return_url`. You should use a different `return_url` for each payment.
Malicious users will be unable to guess securely generated UUIDs.

If you use this method, you should store your IDs safely. For example, in a
datastore mapped to the payment ID just after a payment is created.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
Make sure the way you match your returning users to payments is tamper-proof.
For example, don’t store the payment ID in an unencrypted cookie or rely on a
`return_url` parameter that isn’t secret (like the payment ID or reference).
  </strong>
</div>

## Accepting your users when they return

If your user is directed to the `return_url`, they could have:

 * paid successfully

 * not paid because their card was rejected or they selected cancel

 * not paid because your service (via the API) cancelled the payment in progress

 * not paid because of a technical error

Your service should use the API to check the payment status when your user
reaches the `return_url`, and provide an appropriate response based on the final
status of the payment attempt.

## When your user does not complete their payment journey

Your user may close their browser or lose internet connectivity in the middle of
their payment journey on GOV.UK Pay. In this event, your user will not be
redirected back to your service.

You can still [check the status of these
payments](/payment_flow/#check-the-status-of-a-payment), but you should be
aware GOV.UK Pay will allow your user 90 minutes to complete their payment before
it expires. You can only be certain of the payment’s status after this time.

If a [payment fails](/payment_flow/#payment-failure), GOV.UK Pay will not
allow your user to attempt the payment again with alternative card details. In
this situation your user would need to return to the service to retry the
payment. Your service should account for this.

## Cancel a payment that’s in progress

Your user can select a link on the payment page to cancel a payment that’s in
progress. Alternatively, a service can make the following API call for a given
`paymentId`:

`POST /v1/payments/paymentId/cancel`

A `204` response indicates success. Any other response indicates an error.

See the <a href="https://govukpay-api-browser.cloudapps.digital/#cancelpayment" target="blank">GOV.UK Pay API browser</a> for more details.

### Find out if you can cancel a payment

Use a GET request against a single payment to find out if you can cancel it:

`GET /v1/payments/paymentId`

If the JSON response body contains a `"cancel"` field (in the `_links` object)
that’s not `null`, you can cancel the payment. For example:

```
"cancel": {
  "href": "https://publicapi.payments.service.gov.uk/v1/payments/{paymentId}/cancel",
  "method": "POST"
}
```
