---
title: API reference 
weight: 60
---

# API reference 

The base URL for the GOV.UK Pay API is
`https://publicapi.payments.service.gov.uk/`. 

The same base URL is used for testing and live. The API key you use
determines if the actions are treated as sandbox test payments, or processed as
real payments.

The API is based on REST principles. It returns data in JSON format, and uses
standard HTTP error response codes. 

For full details of each API action, see the API browser: 

- <a href="https://gds-payments.gelato.io/docs/versions/1.0.2/resources/general" target="blank">General functions</a> [external link] 
- <a href="https://gds-payments.gelato.io/docs/versions/1.0.2/resources/payment-id" target="blank">Payment ID functions</a> [external link] 

You can also use the interactive <a
href="https://gds-payments.gelato.io/api-explorer/gov-uk-pay-api/versions/1.0.2//"
target="blank">API explorer</a> [external link] to try out API calls and view
responses.

See the ["Quick start guide"](/quick_start_guide/#quick-start-guide) section for
how to set up the API explorer. Make sure you enter your sandbox API key to
avoid generating real payments.

## Authentication

GOV.UK Pay authenticates API calls with OAuth2 HTTP bearer tokens. These are
easy to use and contain only your API key. [RFC
6750](http://tools.ietf.org/html/rfc6750) details bearer tokens.  

When making an API call, you need to add your API key to an "Authorization"
HTTP header prefixed with "Bearer ". For example: 

```text
Authorization: Bearer <YOUR-API-KEY-HERE> 
```

## Payment status lifecycle

This diagram gives an overview of the payment status lifecycle and the
possible outcomes.

![](https://s3-eu-west-1.amazonaws.com/pay-govuk-documentation/pay-transaction-states.png)

You can check the status of a payment using the <a
href="https://gds-payments.gelato.io/api-explorer/gov-uk-pay-api/versions/1.0.2/v1/find-payment-by-id"
target="blank">Find payment by ID</a> API call [external link].  

The response will include a ``status`` value as described in the table below,
and a true/false ``finished`` value which indicates if the status can change.

<div style="height:1px;font-size:1px;">&nbsp;</div>

| status value | Meaning                                                                                        | finished value |
|--------------|------------------------------------------------------------------------------------------------|----------------|
| created      | Payment created; user has not yet visited next_url                                             | false          |
| started      | User has visited next_url and is entering payment details                                      | false          |
| submitted    | User has submitted payment details but has not yet clicked Confirm                             | false          |
| success      | User successfully completed the payment                                                        | true           |
| failed       | User attempted to make a payment but the payment did not complete. Possible reasons: user cancelled; user entered payment details but never confirmed; payment declined due to insufficent funds; payment declined due to fraud or other checks | true           |
| cancelled    | Your service cancelled the payment using an API call or the self-service site.                 | true           |
| error        | Something went wrong with GOV.UK Pay or the underlying Payment Service Provider.               | true           |

<div style="height:1px;font-size:1px;">&nbsp;</div>

## HTTP status codes

You will encounter typical HTTP success and error response codes when using
the GOV.UK Pay API. Generally any:

- 100 code is informational
- 200 code indicates you’ve been successful
- 300 code indicates a redirection
- 400 code indicates a client error (your error)
- 500 code indicates a server error (something went wrong on the GOV.UK Pay end)

These are the known status codes you are likely to receive:

<div style="height:1px;font-size:1px;">&nbsp;</div>

|Common status code| Meaning|
|------------------|--------|
|200 | Payment information request succeeded |
|201 | Payment has been created |
|204 | The server successfully processed the request, but is not returning any content |
|400 | The server cannot process the request due to a client error, e.g. missing details in the request or a failed payment cancellation|
|401 | Required authentication has failed or not been provided|
|404 | The resource you want cannot be found|
|412 | Precondition failed: e.g. mismatch in expected refund amount available|
|422 | Unprocessable entity obtained on a request validation|
|429 | Too many requests. Request rate is above the rate limit|
|Any 500 error | Something is wrong with GOV.UK Pay - please contact us|

<div style="height:1px;font-size:1px;">&nbsp;</div>

## API error codes

### Errors caused by an API call

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Request type | Error code | Meaning | Cause |
|--------------|------------|---------|-------|
| Create payment | P0101 | Missing mandatory attribute | The request you sent is missing a required attribute |
| Create payment | P0102 | Invalid attribute value | The value of an attribute you sent is invalid |
| Create payment | P0197 | Unable to parse JSON | The JSON you sent in the request body is invalid |
| Create payment | P0198 | Downstream system error | Internal error with GOV.UK Pay: contact us, quoting the error code |
| Create payment | P0199 | Account error | There is a problem with your service account: contact us, quoting the error code |
| Find payment by ID | P0200 | paymentId not found | No payment matched the paymentId you provided |
| Find payment by ID | P0298 | Downstream system error | Internal error with GOV.UK Pay: contact us, quoting the error code |
| Return payment events by ID | P0300 | paymentId not found | No payment matched the paymentId you provided |
| Return payment events by ID | P0398 | Downstream system error | Internal error with GOV.UK Pay: contact us, quoting the error code |
| Search payments | P0401 | Invalid parameters | The parameters you sent are invalid. |
| Search payments | P0402 | Page not found | The requested page of search results does not exist |
| Search payments | P0498 | Downstream system error | Internal error with GOV.UK Pay: contact us, quoting the error code |
| Cancel payment | P0500 | paymentId not found | No payment matched the paymentId you provided |
| Cancel payment | P0501 | Cancellation failed | Cancelling the payment failed; contact us, quoting the error code |
| Cancel payment | P0598 | Downstream system error | Internal error with GOV.UK Pay; contact us, quoting the error code |
| Create refund | P0600 | paymentId not found | No payment matched the paymentId you provided |
| Create refund | P0601 | Missing mandatory attribute | The request you sent is missing a required attribute |
| Create refund | P0602 | Invalid attribute value | The value of an attribute you sent is invalid |
| Create refund | P0603 | Refund not available | The payment is not available for refund. |
| Create refund | P0604 | Refund amount available mismatch | The **refund_amount_available** value you provided does not match the true amount available to refund. |
| Create refund | P0697 | Unable to parse JSON | The JSON you sent in the request body is invalid |
| Create refund | P0698 | Downstream system error | Internal error with GOV.UK Pay; contact us, quoting the error code |
| Get refund | P0700 | refundId not found | No refund matched the refundId you provided |
| Get refund | P0798 | Downstream system error | Internal error with GOV.UK Pay; contact us, quoting the error code |
| Get refunds | P0800 | refundId not found | No refund match the refundId you provided |
| Get refunds | P0898 | Downstream system error | Internal error with GOV.UK Pay; contact us, quoting the error code |
| General | P0900 | Too many requests | Your service account is sending requests above the allowed rate; try the request again in a few seconds |
| General | P0920 | Request blocked by security rules | Our firewall blocked your request. See Troubleshooting section for details. |
| General | P0999 | GOV.UK Pay is unavailable | The GOV.UK Pay service is temporarily down. |

<div style="height:1px;font-size:1px;">&nbsp;</div>

The general format of JSON error response bodies is:

```javascript
{
  "code": "PXXXX",
  "description": "Message explaining the error"
}
```

These error descriptions are intended for developers, not end users. 

Some errors may contain additional fields , such as `field`. 

### Errors caused by payment statuses

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Error code | Meaning | Cause |
|------------|---------|-------|
| P0010 | Payment method rejected | Payment rejected due to payment method selected or payment information entered, for example, failed fraud check, a 3D Secure authentication failure, or the user does not have enough money in account |
| P0020 | Payment expired | Payment was not confirmed and completed within 90 minutes of being created; if the payment was already authorised, GOV.UK PAY will send a cancellation to the payment provider |
| P0030 | Payment cancelled by user | User clicked on the "Cancel payment" button during the payment journey; if the payment was already authorised, GOV.UK PAY will send a cancellation to the payment provider |
| P0040 | Payment was cancelled by your service | Your service cancelled the payment |
| P0050 | Payment provider returned an error | Multiple possible causes, for example a configuration problem with the payment provider, or incorrect login credentials; contact us, quoting the error code |

<div style="height:1px;font-size:1px;">&nbsp;</div>

You can see which payments have status-related error codes using the GOV.UK
Pay admin tool or directly using the API. 

#### Use the admin tool  

1. Sign in to the [GOV.UK Pay admin
site](https://selfservice.payments.service.gov.uk/) (link opens in new window).
2. Select _Transactions_. 
3. Select a payment with a "failed", "cancelled" or "error" status.

#### Use the API 

You can use the API to examine the `state` object in a payment's API response.

For example:

    ```
    {
        "amount": 2000,
        "state": {
            "status": "failed",
            "finished": true,
            "message": "Payment expired",
            "code": "P0020"
        },
    }
    ```

## Card types

<div style="height:1px;font-size:1px;">&nbsp;</div>

| card_brand       | type   | label            |
|------------------|--------|------------------|
| visa             | DEBIT  | Visa             |
| visa             | CREDIT | Visa             |
| master-card      | DEBIT  | Mastercard       |
| master-card      | CREDIT | Mastercard       |
| american-express | CREDIT | American Express |
| diners-club      | CREDIT | Diners Club      |
| discover         | CREDIT | Discover         |
| jcb              | CREDIT | Jcb              |
| unionpay         | CREDIT | Union Pay        |

<div style="height:1px;font-size:1px;">&nbsp;</div>

## API rate limits

POST requests to the GOV.UK Pay API are rate-limited to 15 requests per
second, for each government service. 

GET requests are also rate-limited, but at a very high level. In the future,
we will publish an official rate limit for GET requests.

If you exceed the rate limit, this will return HTTP status code "429" (Too
many requests) and error code P0900. After a second, you'll be able to retry
your attempt in a reasonable way. For example, using exponential backoff.

Please [contact
us](https://docs.payments.service.gov.uk/support_contact_and_more_information/#contact-us)
if you would like to discuss rate limiting applied to your service account, or
give us feedback.
