---
title: API reference
weight: 60
---

# API reference

The base URL for the GOV.UK Pay API is
`https://publicapi.payments.service.gov.uk/`.

The same base URL is used for test and live accounts. The API key you use
determines if actions are treated as test payments, or processed as real payments.

The API is based on REST principles. It returns data in JSON format, and uses
standard HTTP error response codes.

You can [get started with the API quickly](/quick_start_guide/#quick-start-guide). Make sure you enter your test API key to avoid generating real payments.

## API browser and Swagger file

For more detailed information on each API action, you can:

- open the <a href="https://govukpay-api-browser.cloudapps.digital/" target="blank">API browser</a>
- look at the <a href="https://github.com/alphagov/pay-publicapi/blob/master/swagger/swagger.json" target="blank">API Swagger file</a>

You can also generate a client library from the Swagger file using the <a href="http://editor.swagger.io/" target="blank">Swagger editor</a>. This may be an easier way for you to integrate your service with GOV.UK Pay than writing a client library from scratch.

## Allowing traffic to our API

If you're connecting to the GOV.UK Pay API from a secure network, we recommend using a web proxy like [Squid](http://www.squid-cache.org/) to allow traffic to our base URL.

Do not add a whitelist of IP addresses to your firewall, because GOV.UK Pay’s IP addresses will change regularly. Read more about [why GOV.UK does not support whitelists of IP addresses](https://technology.blog.gov.uk/2017/01/03/a-whitelisting-approach-for-cloud-apis/).

## Authentication

GOV.UK Pay authenticates API calls with [OAuth2 HTTP bearer
tokens](http://tools.ietf.org/html/rfc6750). These are easy to
use and contain only your API key.

When you make an API call, you need to use an “Authorization” HTTP header to
provide your API key, with a “Bearer” prefix. For example:

```text
Authorization: Bearer <YOUR-API-KEY-HERE>
```

## Payment status lifecycle

The following diagram gives an overview of the payment status lifecycle and the
possible outcomes, excluding for delayed capture payments:

![](/images/payment-states.svg)

You can check the status of a payment using the <a
href="https://govukpay-api-browser.cloudapps.digital/#getpayment"
target="blank">Find payment by ID</a> API call.

A successful response includes ``status`` and ``finished`` values:

<table style="width:100%">
  <tr>
  <th><code>status</code></th>
  <th>Meaning</th>
  <th nowrap><code>finished</code></th>
  </tr>
  <tr>
    <td> created </td>
    <td> Payment created. Your user has not yet visited <code>next_url</code>. </td>
    <td> false </td>
  </tr>
  <tr>
    <td> started </td>
    <td> Your user has visited <code>next_url</code> and is entering payment details. </td>
    <td> false </td>
  </tr>
  <tr>
    <td> submitted </td>
    <td> Your user has submitted payment details but has not yet selected <b>Confirm</b>. </td>
    <td> false </td>
  </tr>
  <tr>
    <td> capturable </td>
    <td> The payment is a <a href="/optional_features/delayed_capture/">delayed capture</a>, and your user has submitted payment details and selected <b>Confirm</b>. </td>
    <td> false </td>
  </tr>
  <tr>
    <td> success </td>
    <td> Your user successfully completed the payment. </td>
    <td> true </td>
  </tr>
  <tr>
    <td> failed </td>
    <td> Your user attempted to make a payment but the payment did not complete. </td>
    <td> true </td>
  </tr>
  <tr>
    <td> cancelled </td>
    <td> Your service cancelled the payment using an API call or the GOV.UK Pay admin tool. </td>
    <td> true </td>
  </tr>
  <tr>
    <td> error </td>
    <td> Something went wrong with GOV.UK Pay or the underlying payment service provider. Please <a href="/support_contact_and_more_information/#contact-us">contact us.</a> </td>
    <td> true </td>
  </tr>
</table>

<div style="height:1px;font-size:1px;">&nbsp;</div>

## HTTP status codes

The GOV.UK Pay uses standard HTTP response code conventions:

* 100 codes are informational

* 200 codes indicate success

* 300 codes indicate a redirection

* 400 codes indicate a client-side error

* 500 codes indicate a server-side error

Common status codes are:

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Common status code| Meaning|
|-------------------|--------|
| 200 | Payment information request succeeded. |
| 201 | Payment has been created. |
| 204 | The server successfully processed the request, but is not returning any content. |
| 400 | The server cannot process the request due to a client error, eg missing details in the request or a failed payment cancellation. |
| 401 | Required authentication has failed or has not been provided. |
| 404 | The resource you have requested cannot be found. |
| 412 | Precondition failed, eg mismatch in expected refund amount available. |
| 422 | Unprocessable entity obtained on a request validation. |
| 429 | Too many requests. Request rate is above the rate limit. |
| Any 500 error | Something is wrong with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us). |

<div style="height:1px;font-size:1px;">&nbsp;</div>

## API error codes

### Errors caused by an API call

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Request type | Error code | Meaning | Cause |
|--------------|------------|---------|-------|
| Create payment | P0101 | Missing mandatory attribute | The request you sent is missing a required attribute. |
| Create payment | P0102 | Invalid attribute value | The value of an attribute you sent is invalid. |
| Create payment | P0197 | Unable to parse JSON | The JSON you sent in the request body is invalid. Check the JSON in your request body, or [contact us about Mail Order Telephone Order (MOTO) payments](/optional_features/moto_payments/) if you've used `moto: true` in your request.|
| Create payment | P0198 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Create payment | P0199 | Account error | There is a problem with your service account. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Find payment by ID | P0200 | `paymentId` not found | No payment matched the `paymentId` you provided. |
| Find payment by ID | P0298 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Return payment events by ID | P0300 | `paymentId` not found | No payment matched the `paymentId` you provided. |
| Return payment events by ID | P0398 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Search payments | P0401 | Invalid parameters | The parameters you sent are invalid. |
| Search payments | P0402 | Page not found | The requested page of search results does not exist. |
| Search payments | P0498 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Cancel payment | P0500 | `paymentId` not found | No payment matched the `paymentId` you provided. |
| Cancel payment | P0501 | Cancellation failed | Cancelling the payment failed. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Cancel payment | P0598 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Create refund | P0600 | `paymentId` not found | No payment matched the `paymentId` you provided. |
| Create refund | P0601 | Missing mandatory attribute | The request you sent is missing a required attribute. |
| Create refund | P0602 | Invalid attribute value | The value of an attribute you sent is invalid. |
| Create refund | P0603 | Refund not available | The payment is not available for refund. |
| Create refund | P0604 | Refund amount available mismatch | The `refund_amount_available` value you provided does not match the true amount available to refund. |
| Create refund | P0697 | Unable to parse JSON | The JSON you sent in the request body is invalid. |
| Create refund | P0698 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Get refund | P0700 | `refundId` not found | No refund matched the `refundId` you provided. |
| Get refund | P0798 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| Get refunds | P0800 | `refundId` not found | No refund matched the `refundId` you provided. |
| Get refunds | P0898 | Downstream system error | Internal error with GOV.UK Pay. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |
| General | P0900 | Too many requests | Your service account is sending requests above the allowed rate. Please try the request again in a few seconds. |
| General | P0920 | Request blocked by security rules | Our firewall blocked your request. Find out [how to fix a P0920 error](#fix-a-p0920-api-error). |
| General | P0999 | GOV.UK Pay is unavailable | The GOV.UK Pay service is temporarily down. |
| Delayed capture | P1000 | No match for `paymentId` | No payment matched the `paymentId` you provided. |
| Delayed capture | P1003 | Payment cannot be captured | You can only capture a payment if the payment has a `status` of `capturable`. |
| Direct Debit | P1200 | No match for `mandate_id` | No mandate matched the `mandate_id` you provided. |
| Direct Debit | P1203 | Mandate not ready | You can only collect payments against a mandate if the mandate has a `status` of `pending` or `active`. |

<div style="height:1px;font-size:1px;">&nbsp;</div>

The general format of JSON error response bodies is:

```javascript
{
  "code": "PXXXX",
  "description": "Message explaining the error"
}
```

These error descriptions are intended for developers, not your users.

Some errors may contain additional fields , such as `field`.

#### Fix a P0920 API error

If you receive a P0920 API error code, our firewall blocked your request.

To fix a P0920 API error, make sure your API request:

- has a `Content-Type: application/json` header
- uses `application/json` in the `Accept` header if you're using an `Accept` header
- uses `https` in the `return_url`, not `http`
- does not use invalid characters like `<`, `>`, `|`, `"` or `\`
- does not have an empty request body if you're making a `POST` request

### Errors caused by payment statuses

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Error code | Meaning | Cause |
|------------|---------|-------|
| P0010 | Payment method rejected | Payment rejected due to payment method selected, or payment information entered. For example, failed fraud check, a 3D Secure authentication failure, or your user has insufficient funds in account. |
| P0020 | Payment expired | Payment was not confirmed and completed within 90 minutes of being created. If the payment was already authorised, GOV.UK Pay will send a cancellation to the payment provider. |
| P0030 | Payment cancelled by your user | Your user selected **Cancel payment** during the payment journey. If the payment was already authorised, GOV.UK Pay will send a cancellation to the payment provider. |
| P0040 | Payment was cancelled by your service | Your service cancelled the payment. |
| P0050 | Payment provider returned an error | Multiple possible causes, for example a configuration problem with the payment provider, or incorrect credentials. Please [contact us](/support_contact_and_more_information/#contact-us), quoting the error code. |

<div style="height:1px;font-size:1px;">&nbsp;</div>

You can see which payments have status-related error codes using the GOV.UK
Pay admin tool or directly using the API.

#### Use the admin tool

1. Sign in to the [GOV.UK Pay admin tool](https://selfservice.payments.service.gov.uk/).

2. Select __Transactions__.

3. Use the __Payment status__ dropdown to find payments with error statuses. For example, “Declined”.

#### Use the API

You can use the API to examine the `state` object in a payment’s API response.

For example:

```
{
  "amount": 2000,
  "state": {
      "status": "failed",
      "finished": true,
      "message": "Payment expired",
      "code": "P0020"
  },
}
```

## Rate limits

Per second, you can make:

- up to 15 `POST` requests to [create a payment](/making_payments/#creating-a-payment)
- up to 15 `POST `requests to [capture a delayed payment](/optional_features/delayed_capture/)
- up to 15 other `POST` requests

GET requests are also rate-limited, but at a very high level. In the future,
we will publish an official rate limit for GET requests.

If you exceed the rate limit, this will return HTTP status code “429” (Too
many requests) and error code P0900. After a second, you’ll be able to retry
your attempt in a reasonable way. For example, using exponential backoff.

Please [contact
us](/support_contact_and_more_information/#contact-us)
if you would like to discuss rate limiting applied to your service account, or
give us feedback.
