---
title: API reference
last_reviewed_on: 2022-12-20
review_in: 6 months
weight: 1400
---

# API reference

GOV.UK Pay is a payment platform for government. If you work in the public sector, [read more about using GOV.UK Pay to take payments](https://www.payments.service.gov.uk/).

The base URL for the GOV.UK Pay API is `https://publicapi.payments.service.gov.uk/`.

We use the same base URL for test and live accounts. You can create a test account from the [GOV.UK Pay homepage](https://www.payments.service.gov.uk/) and use it to test our API and your integration with it. You receive your live account when you [make your service live for your users](/switching_to_live/).

The API key you use determines which GOV.UK Pay service you use, and whether actions are treated as test payments, or processed as real payments. You can create test and live API keys through the GOV.UK Pay admin tool.

<%= warning_text('If you’re testing our API, make sure you enter an API key from a test account to avoid generating real payments.') %>

The API is based on REST principles. It returns data in JSON format, and uses standard HTTP error response codes.

You can [get started with the GOV.UK Pay API quickly](https://docs.payments.service.gov.uk/quick_start_guide/#quick-start).

This page has information about:

* [endpoints](/api_reference/#endpoints)
* [data consistency](/api_reference/#data-consistency)
* [authentication](/api_reference/#authentication)
* [rate limits](/api_reference/#rate-limits)
* [pagination](/api_reference/#pagination)
* [HTTP status codes](/api_reference/#responses)
* [error codes](/api_reference/#gov-uk-pay-api-error-codes)
* [the payment status lifecycle](/api_reference/#payment-status-lifecycle)
* [API versioning](/api_reference/#api-versioning)

## Endpoints

### Payments

| Endpoint                                      | URL                                                 | Data consistency                   |
|-----------------------------------------------|-----------------------------------------------------|------------------------------------|
| [Create a payment](/api_reference/create_a_payment_reference)                          | `POST /v1/payments`                                 | Strongly consistent |
| [Get information about a single payment](/api_reference/single_payment_reference)    | `GET /v1/payments/{PAYMENT_ID}`                     | Strongly consistent |
| [Get a payment's events](/api_reference/payment_event_reference)                    | `GET /v1/payments/{PAYMENT_ID}/events`              | Strongly consistent |
| [Cancel a payment](/api_reference/cancel_payment_reference/)                          | `POST /v1/payments/{PAYMENT_ID}/cancel`              | Strongly consistent |
| [Take ('capture') a delayed payment](/api_reference/capture_payment_reference)        | `POST /v1/payments/{PAYMENT_ID}/capture`            | Strongly consistent |
| [Search payments](/api_reference/search_payments_reference/)                           | `GET /v1/payments`                                  | <nobr>Eventually consistent</nobr> |


### Refunds

| Endpoint                                      | URL                                                 | Data consistency                   |
|-----------------------------------------------|-----------------------------------------------------|------------------------------------|
| [Refund a payment](/api_reference/refund_payment_reference)                          | `POST /v1/payments/{PAYMENT_ID}/refunds`            | <nobr>Strongly consistent</nobr> |
| [Get the status of a refund](/api_reference/refund_status_reference)                | `GET /v1/payments/{PAYMENT_ID}/refunds/{REFUND_ID}` | <nobr>Strongly consistent</nobr> |
| [Get information about a payment's refunds](/api_reference/payment_refunds_reference) | `GET /v1/payments/{PAYMENT_ID}/refunds`             | <nobr>Eventually consistent</nobr> |
| [Search refunds](/api_reference/search_refunds_reference)                            | `GET /v1/refunds`                                   |  <nobr>Eventually consistent</nobr> |

### Agreements for recurring payments

These endpoints are not yet available. 

| Endpoint                                      | URL                                                 | Data consistency                   |
|-----------------------------------------------|-----------------------------------------------------|------------------------------------|
| [Create an agreement for recurring payments](/api_reference/create_an_agreement_reference)| `POST /v1/agreements`            | <nobr>Strongly consistent</nobr> |
| [Search agreements for recurring payments](/api_reference/search_agreements_reference)| `GET /v1/agreements`            | <nobr>Eventually consistent</nobr> |
| [Get information about a single agreement for recurring payments](/api_reference/single_agreement_reference)| <nobr> `GET /v1/agreements/{AGREEMENT_ID}`            | <nobr>Strongly consistent</nobr> |
| [Cancel an agreement for recurring payments](/api_reference/cancel_agreement_reference)| `POST /v1/agreements/{AGREEMENT_ID}/cancel`            | <nobr>Strongly consistent</nobr> |


### Disputes

| Endpoint                                      | URL                                                 | Data consistency                   |
|-----------------------------------------------|-----------------------------------------------------|------------------------------------|
| [Search disputes](/api_reference/search_disputes_reference)                          | `GET /v1/disputes`            | <nobr>Strongly consistent</nobr> |


### Authorising payments

| Endpoint                                      | URL                                                 | Data consistency                   |
|-----------------------------------------------|-----------------------------------------------------|------------------------------------|
| [Send card details to authorise a MOTO payment](/api_reference/send_card_details_moto_reference/)                          | `POST /v1/auth`            | <nobr>Strongly consistent</nobr> |

## Data consistency

GOV.UK Pay API endpoints have different levels of data consistency. Endpoints are either:

* eventually consistent or
* strongly consistent

Data from eventually consistent endpoints is updated on a delay. You should not rely on eventually consistent endpoints for operations that require real-time data accuracy, such as checking the outcome of a payment at the end of a user journey.

Data from strongly consistent endpoints is updated immediately. If you perform a read operation on a strongly consistent endpoint immediately after a write operation, the data accurately reflects the outcome of the write operation. For example, if you check the status of a payment (`GET /v1/payments/{PAYMENT_ID}`) immediately after a user completes the payment, the data will show that the payment is complete.

## Allowing traffic to our API

If you’re connecting to our API from a secure network, we recommend using [a web proxy like Squid](http://www.squid-cache.org/) to allow traffic to our base URL.

Do not add an allow list of IP addresses to your firewall, because GOV.UK Pay’s IP addresses will change regularly. Read more about [why GOV.UK does not support allow lists of IP addresses](https://technology.blog.gov.uk/2017/01/03/a-whitelisting-approach-for-cloud-apis/).

## Authentication

GOV.UK Pay authenticates API calls with [OAuth2 HTTP bearer tokens](http://tools.ietf.org/html/rfc6750).

When you make an API call, you need to use an “Authorization” HTTP header to provide your API key, with a “Bearer” prefix. For example:

```text
Authorization: Bearer {YOUR_API_KEY}
```

## Rate limits

Per second, you can make:

- up to 15 `POST` requests to [create a payment](/api_reference/create_a_payment_reference)
- up to 15 `POST `requests to [capture a delayed payment](/api_reference/capture_payment_reference)
- up to 15 other `POST` requests

`GET` requests are also rate-limited, but at a very high level. In the future, we will publish an official rate limit for `GET` requests.

If you exceed the rate limit, this will return a `429` HTTP response code (Too many requests) and error code `P0900`. After a second, you’ll be able to retry your attempt in a reasonable way. For example, using [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff).

[Contact us](/support_contact_and_more_information/) if you would like to discuss rate limiting applied to your service account, or give us feedback.

## Pagination

Responses from search endpoints, such as [search payments](/api_reference/search_payments_reference) or [search refunds](/api_reference/search_refunds_reference), are split into pages. By default, these endpoints display 500 results per page and return the first page of results.

You can use query parameters to view different pages and control the number of results on each page.

| Query parameter | Description |
|----|----|
| `page` | Returns a specific page of results. <br><br>Defaults to `1`. |
| <nobr>`display_size` | The number of results returned per results page.<br><br>Defaults to `500`. Maximum value is `500`. |

### Pagination example

There are 74 payments in the `created` state. In this example search request, these 74 payments are split into 4 pages of results because `display_size` is `20`. This request returns payments 41-60 because `page` is `3`:

`GET /v1/payments?state=created&display_size=20&page=3`

### Pagination links

Search endpoints also return a `_links` object, which includes `href` and `method` fields you can use to move between pages. Use the fields in:

* `self` to run the same search again
* `first_page` to get the first page of results
* `last_page` to get the last page
* `prev_page` to get the previous page
* `next_page` to get the next page


## OpenAPI file

You can also generate a client library from [our OpenAPI file](https://github.com/alphagov/pay-publicapi/blob/master/openapi/publicapi_spec.json) using [Swagger Editor](http://editor.swagger.io/). This may be an easier way for you to integrate your service with GOV.UK Pay than writing a client library from scratch.

## Responses

The GOV.UK Pay API uses HTTP response codes to show the outcome of a request. `4xx` and `5xx` responses give more detail in the `code` and `description` attributes of the response.

### HTTP status codes

| HTTP status code | Description |
|-------------------|--------|
| 200 - OK | Your request was successful. |
| 201 - Created | You created a payment. |
| 202 - Accepted | Refund request accepted. The refund will reach the paying user soon. |
| 204 - No content | Your request was successful. |
| 400 - Bad request | Your request is invalid.<br><br> Check the `code` and `description` response attributes to find out why the request failed. |
| 401 - Unauthorised | Your API key is missing or invalid.<br><br>[Read more about authenticating GOV.UK Pay API requests](/api_reference/#authentication). |
| 404 - Not found | The payment, refund, or agreement you tried to access does not exist.<br><br>Check the ID you sent in your request. |
| 409 - Conflict | The payment you tried to access has already been captured or cancelled. |
| 412 - Precondition failed | The `refund_amount_available` value you sent does not match the amount available to refund.<br><br>[Read more about refunding payments](/refunding_payments/#creating-a-refund). |
| 422 - Unprocessable entity | One of the values you sent is formatted incorrectly. This could be an invalid value, or a value that exceeds a character limit.<br><br>Check the `field`, `code`, and `description` attributes in the response for more information. |
| 429 - Too many requests | You've made too many requests using your API key.<br><br>[Read more about rate limits](/api_reference#rate-limits). |
| Any 500 error - Internal server error | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |

### GOV.UK Pay API error codes

If your request fails, you’ll also receive a response that contains `code`, `description`, and `field` attributes to help you find out why the request failed.

For example:

```json
{
  "field": "amount",
  "code": "P0102",
  "description": "Invalid attribute value: amount. Must be less than or equal to 10000000"
}
```

These error descriptions are intended for developers, not your users.

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Error code | Endpoint(s) | Meaning |
|--------------|------------|---------|
| P0101 | Create a payment<br><br>Send card details to authorise a MOTO payment | The request you sent is missing a required parameter.<br><br>Check the `field` attribute in the response to see which parameter is missing. |
| P0102 | Create a payment<br><br>Send card details to authorise a MOTO payment | The value of a parameter you sent is invalid.<br><br>Check the `description` attribute in the response to find out which value is invalid. |
| P0104 | Create a payment | You included `return_url` and `"authorisation_mode": "moto_api"` in your request. These parameters cannot be used together.<br><br>Remove the `return_url` parameter to create [a Mail Order / Telephone Order (MOTO) payment that accepts card details sent through the API](/moto_payments/moto_send_card_details_api).<br><br>Remove the `authorisation_mode` parameter to [create a standard payment](/making_payments). |
| P0191 | Create a payment | The `Idempotency-Key` you sent in the request header has already been used to create a payment. |
| P0195 | Create a payment | You tried to create a Mail Order / Telephone Order (MOTO) payment that accepts card details sent through the API but this feature is not enabled on your service.<br><br>You can [read more about setting up your service to accept card details sent through the API](/moto_payments/moto_send_card_details_api).<br><br>To create a standard payment, remove `"authorisation_mode": "moto_api"` from your request. |
| P0196 | Create a payment | You tried to create a type of payment that is not enabled on your service.<br><br>Contact us about [setting up your service for MOTO payments](/moto_payments) or [recurring payments](/recurring_payments). |
| P0197 | Create a payment | The JSON you sent in the request body is invalid.<br><br>Check the formatting of the request body. |
| P0198 | Create a payment | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0199 | Create a payment | There's a problem with your service account.<br><br>[Contact us with your error code](/support_contact_and_more_information) and we'll investigate. |
| P0200 | Get information about a single payment | No payment matched the `{PAYMENT_ID}` you provided.<br><br>Check the `{PAYMENT_ID}` parameter you sent. |
| P0298 | Get information about a single payment | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0300 | Get a payment’s events | No payment matched the `{PAYMENT_ID}` you provided.<br><br>Check the `{PAYMENT_ID}` parameter you sent. |
| P0398 | Get a payment’s events | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0401 | Search payments | The value of a parameter you sent is invalid. <br><br>Check the parameters listed in the `description` response attribute. |
| P0402 | Search payments | The requested page of search results does not exist. |
| P0498 | Search payments | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0500 | Cancel a payment | No payment matched the `{PAYMENT_ID}` you provided.<br><br>Check the `{PAYMENT_ID}` parameter you sent. |
| P0501 | Cancel a payment | Cancelling the payment failed. This could be because this payment does not have a `cancel` attribute and so cannot be cancelled.<br><br>Read our [guidance on checking if you can cancel a payment](/making_payments/#check-if-you-can-cancel-a-payment).<br><br>If you think you should be able to cancel a payment but you're still receiving this error, [contact us](/support_contact_and_more_information/). |
| P0502 | Cancel a payment | This payment cannot be cancelled. You can only cancel a payment if it has a `cancel` attribute when you check if you can cancel it. <br><br>There’s further [guidance on checking if you can cancel a payment](/making_payments/#check-if-you-can-cancel-a-payment). |
| P0598 | Cancel a payment | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0600 | Refund a payment | No payment matched the `{PAYMENT_ID}` you provided.<br><br>Check the `{PAYMENT_ID}` parameter you sent. |
| P0601 | Refund a payment | Your request is missing a required attribute. <br><br>You must submit `amount` and `refund_amount_available` values in the body of your request. |
| P0602 | Refund a payment | The value of an attribute you sent is invalid.<br><br>Check the `amount` and `refund_amount_available` values you sent. |
| P0603 | Refund a payment | This payment cannot be refunded. <br><br>You can [read more about checking if you can refund a payment](/refunding_payments/#check-if-you-can-refund-a-payment). |
| P0604 | Refund a payment | The `refund_amount_available` value you sent does not match the amount available to refund. <br><br>`refund_amount_available` must match the `amount_available` value you receive when checking if you can refund a payment.<br><br>[Read more about checking if you can refund a payment](/refunding_payments/#check-if-you-can-refund-a-payment). |
| P0697 | Refund a payment | The JSON you sent in the request body is invalid.<br><br>Check the formatting of the request body. |
| P0698 | Refund a payment | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0700 | Check the status of a refund | Either no refund matched the `{REFUND_ID}` you sent, or no payment matched the `{PAYMENT_ID}` you sent.<br><br>Check the `{REFUND_ID}` and  `{PAYMENT_ID}` parameters you sent. |
| P0798 | Check the status of a refund | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0800 | Get information about a payment’s refunds | No payment matched the `{PAYMENT_ID}` you sent.<br><br>Check the `{PAYMENT_ID}` parameter you sent. |
| P0898 | Get information about a payment’s refunds | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P0900 | All endpoints | You've made too many requests too quickly using your API key. <br><br>You can [read more about rate limits](/api_reference#rate-limits). |
| P0920 | All endpoints | Our firewall blocked your request. <br><br>To fix a `P0920` API error, make sure your API request:<br><br><li>has a `Content-Type: application/json` header<li>uses `application/json` in the `Accept` header if you’re using an `Accept` header<li>uses `https` in the `return_url`, not `http`<li>does not use invalid characters like `<`, `>`, `"`, `\`, or <code>&#124;</code><li>does not have an empty request body if you’re making a `POST` request |
| P0940 | All endpoints | Your payment service provider (PSP) account is not fully configured. <br><br>You can [read our Go live documentation to configure your PSP account](/switching_to_live/#go-live). |
| P0941 | Multiple endpoints | GOV.UK Pay has disabled payment and refund creation on this account. <br><br> This error can have multiple causes. <br><br> [Contact us with your error code](/support_contact_and_more_information).
| P0999 | All endpoints | GOV.UK Pay is temporarily down. <br><br>Check [our status page](https://payments.statuspage.io) for more information. |
| P1000 | Capture a delayed payment | No payment matched the `{PAYMENT_ID}` you provided.<br><br>Check the `{PAYMENT_ID}` parameter you sent. |
| P1001 | Capture a delayed payment | GOV.UK Pay could not capture this payment. <br><br>[Contact us with your error code](/support_contact_and_more_information). |
| P1003 | Capture a delayed payment | GOV.UK Pay could not capture this payment. The `status` of the payment must be `capturable`. <br><br>To check this, [run `GET /v1/payments/{PAYMENT_ID}`](/api_reference/single_payment_reference). |
| P1098 | Capture a delayed payment | There's something wrong with GOV.UK Pay. <br><br>If there are no issues on [our status page](https://payments.statuspage.io), you can [contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |
| P1101 | Search refunds | The value of a parameter you sent is invalid.<br><Br>Check the parameters listed in the `description` response attribute. |
| P1100 | Search refunds | The requested page of search results does not exist. |
| P1211 | Send card details to authorise a MOTO payment | No payment matches the `one_time_token` you sent.<br><br>Check the `one_time_token` parameter you sent. |
| P1212 | Send card details to authorise a MOTO payment | The `one_time_token` you sent has already been used.<br><br>You can only use a `one_time_token` once.<br><br>Create a new payment to get a new `one_time_token`. [Read more about creating and authorising MOTO payments by sending card details through the API](/moto_payments/moto_send_card_details_api). |
| P2101 | Create an agreement for recurring payments | The request you sent is missing a required parameter.<br><br>Check the `field` attribute in the response to see which parameter is missing. |
| P2102 | Create an agreement for recurring payments | The value of a parameter you sent is invalid.<br><br>Check the response to see which value in invalid. |
| P2103 | Create an agreement for recurring payments | Recurring card payments are currently disabled for this service.<br><br>[Contact us with your error code.](https://www.payments.service.gov.uk/support/) |
| P2197 | Create an agreement for recurring payments | The JSON you sent in the request body is invalid.<br><br>Check the formatting of the request body. |
| P2198 | Create an agreement for recurring payments | There’s something wrong with GOV.UK Pay.<br><br>If there are no issues on [our status page](https://payments.statuspage.io/), you can [contact us with your error code](https://docs.payments.service.gov.uk/support_contact_and_more_information/) and we’ll investigate. |
| P2200 | Get information about a single agreement for recurring payments | No agreement matched the `{AGREEMENT_ID}` you sent.<br><br>Check your `{AGREEMENT_ID}` parameter. |
| P2298 | Get information about a single agreement for recurring payments | There’s something wrong with GOV.UK Pay.<br><br>If there are no issues on [our status page](https://payments.statuspage.io/), you can [contact us with your error code](https://docs.payments.service.gov.uk/support_contact_and_more_information/) and we’ll investigate. |
| P2401 | Search agreements for recurring payments | The value of a parameter you sent is invalid.<br><br>Check the parameters listed in the `description` response attribute. |
| P2402 | Search agreements for recurring payments | The requested page of search results does not exist. |
| P2498 | Search agreements for recurring payments | There’s something wrong with GOV.UK Pay.<br><br>If there are no issues on [our status page](https://payments.statuspage.io/), you can [contact us with your error code](https://docs.payments.service.gov.uk/support_contact_and_more_information/) and we’ll investigate. |
| P2500 | Cancel an agreement for recurring payments | No agreement matched the `{AGREEMENT_ID}` you sent.<br><br>Check your `{AGREEMENT_ID}` parameter. |
| P2501 | Cancel an agreement for recurring payments | This agreement cannot be cancelled. You can only cancel agreements in the `active` status.<br><br>You can read more about [the agreement status lifecycle](/recurring_payments/#understanding-agreement-status) or the [API reference for getting information about an agreement](/api_reference/single_agreement_reference). |
| P2598 | Cancel an agreement for recurring payments | There’s something wrong with GOV.UK Pay.<br><br>If there are no issues on [our status page](https://payments.statuspage.io/), you can [contact us with your error code](https://docs.payments.service.gov.uk/support_contact_and_more_information/) and we’ll investigate. |



<div style="height:1px;font-size:1px;">&nbsp;</div>

### Errors caused by payment statuses

Failed payments return a `code` value in the `state` object when you use the API to get information about that payment. These error codes explain why the payment failed.

| Error code | Meaning | Cause |
|------------|---------|-------|
| P0010 | Payment method rejected | The payment was rejected due to the payment method selected or the payment information entered by the user.<br><br>For example, the user may have failed a fraud check, a 3D Secure authentication check, or they may not have sufficient funds in their account. |
| P0020 | Payment expired | The payment timed out because the paying user did not confirm and complete the payment within 90 minutes of the payment being created.<br><br>If the paying user's bank already authorised the payment, GOV.UK Pay will automatically send a cancellation to the payment service provider. |
| P0030 | Payment cancelled by your user | The paying user selected **Cancel payment** during the payment journey.<br><br>If the paying user's bank already authorised the payment, GOV.UK Pay will automatically send a cancellation to the payment service provider. |
| P0040 | Payment was cancelled by your service | Your service cancelled the payment.<br><br>You can [read more about cancelling payments](/making_payments/#cancel-a-payment-that-s-in-progress). |
| P0050 | Payment provider returned an error | This error has multiple possible causes. For example, a configuration problem with the payment service provider, or incorrect credentials.<br><br>[Contact us with your error code](/support_contact_and_more_information/) and we'll investigate. |


## Payment status lifecycle

You can [get information about a payment](/reporting/#get-information-about-a-single-payment) using the API and see where the payment is in the payment status lifecycle. You can see this in the `state` object in the response.

For example:

```json
{
  "amount": 2000,
  "state": {
      "status": "failed",
      "finished": true,
      "message": "Payment expired",
      "code": "P0020"
  }
  ...
}
```

### Payment status meanings

The `status` value indicates where the payment is in the payment status lifecycle.

`finished` indicates whether the payment journey is finished. A `finished` payment journey does not always mean the user has made a payment. For example, a user may submit their payment details but their bank rejects the payment - the payment journey is `finished` but no payment has actually been made.

| `status`     | Meaning                                                                                                                                                                                                                                                                                                                                                                | <nobr>`finished`</nobr> |
| ---------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | -------- |
| <nobr>`created`</nobr>    | Payment created using the API. Your user has not yet visited `next_url`.                                                                                                                                                                                                                                                                                                | <nobr>`false`</nobr>    |
| <nobr>`started`</nobr>    | Your user has visited `next_url` and is entering their payment details.                                                                                                                                                                                                                                                                                                 | <nobr>`false`</nobr>    |
| <nobr>`submitted`</nobr>  | Your user submitted payment details and went through authentication, if it was required.<br><br>The payment service provider has authorised the payment, but the user has not yet selected **Confirm**.                                                                                                                                                                    | <nobr>`false`</nobr>    |
| <nobr>`capturable`</nobr> | The payment is a delayed capture and your user has submitted their payment details and selected **Confirm**.<br><br>You can [read more about how to capture this payment](https://docs.payments.service.gov.uk/delayed_capture/#delay-taking-a-payment).                                   | <nobr>`false`</nobr>    |
| <nobr>`success`</nobr>    | Your user successfully completed the payment by selecting **Confirm**.<br><br>We redirected your user to a payment confirmation page.                                                                                                                                                                                                                                      | <nobr>`true`</nobr>     |
| <nobr>`failed`</nobr>     | The payment failed. This failure could be because the payment timed out after 90 minutes, the user's payment method was rejected, or your user cancelled the payment.<br><br>We showed the user a failure screen.<br><br>Check the [payment status error codes](/api_reference/#errors-caused-by-payment-statuses) for the possible reasons for a `failed` payment. | <nobr>`true`</nobr>     |
| <nobr>`cancelled`</nobr>  | Your service cancelled the payment using an API call or the GOV.UK Pay admin tool.<br><br>You can [read more about how to cancel payments.](https://docs.payments.service.gov.uk/making_payments/#cancel-a-payment-that-s-in-progress)                                    | <nobr>`true`</nobr>     |
| <nobr>`error`</nobr>      | Something went wrong with GOV.UK Pay or the underlying payment service provider. The payment failed safely with no money taken from the user.<br><br>We showed the paying user a screen stating “**We’re experiencing technical problems. No money has been taken from your account. Cancel and go back to try the payment again.**”                                       | <nobr>`true`</nobr>     |

If something went wrong with a payment, the `code` and `message` attributes in the API response can help you find out what happened.

`code` is [an API error code](/api_reference/#gov-uk-pay-api-error-codes).

`message` is a description of what went wrong.

## API versioning

We work hard to make our API updates backwards compatible and avoid breaking changes.

When we add new properties to the JSON responses, the GOV.UK Pay API version number will not change. You should develop your service to ignore properties it does not understand.

[Read more about staying up to date with GOV.UK Pay API updates](https://docs.payments.service.gov.uk/versioning/).
