---
title: Add corporate card fees
last_reviewed_on: 2022-09-07
review_in: 6 months
weight: 120
---

# Add corporate card fees

GOV.UK Pay supports adding a fee or 'surcharge' if your user pays with a corporate
credit or debit card. You can [contact GOV.UK Pay support](/support_contact_and_more_information/) to ask the team to
set this up for you.

Each surcharge is a flat amount added to a payment. If you’d like to discuss
adding surcharges as percentages, please contact us.

You can set a different surcharge for each of the following 3 corporate card types:

* non-prepaid credit cards
* non-prepaid debit cards
* prepaid debit cards

In a payment journey, when your user enters a card number the GOV.UK Pay platform checks to determine if it’s one of the 3 corporate card types. If a surcharge is applicable, the platform will inform them that a surcharge of a certain amount will be added to the total.

We will not apply a surcharge if we cannot tell if the card is:

- credit or debit
- prepaid or not - we cannot tell this for most Mastercard cards

You can sign in to the [GOV.UK Pay admin
tool](https://selfservice.payments.service.gov.uk/login) to see the payment
amount and the surcharge amount listed separately.

If a payment has a surcharge applied, the full amount available for refund includes the surcharge. When you [create a refund](/refunding_payments#creating-a-refund), you can optionally exclude the surcharge from the amount you refund.

If a surcharge is applied to a particular payment, you can see this in API
response fields:

<div style="height:1px;font-size:1px;">&nbsp;</div>

| Response field                   | Meaning
|----------------------------------|-----------------------------------------------------------------------------------------------------------------------|
| `"amount"`                       | Contains the amount in pence, without any surcharge. </br> This field always appears, even if a surcharge is not applicable.|
| `"total_amount"`                 | Contains the total amount in pence, including any surcharge. </br> Only appears if a surcharge is applicable.               |
| `"corporate_card_surcharge"`     | Contains only the surcharge amount, in pence. </br> Only appears if a surcharge is applicable.                              |

<div style="height:1px;font-size:1px;">&nbsp;</div>
